.homeHeading {
    text-align: center;
    font-size: 1.4vmax;
    border-bottom: 1px solid #fff;

    width: 20vmax;
    padding: 1vmax;
    /* margin: 5vmax auto; */
    margin: 20px auto;

}

.product-container {
    display: flex;
    margin: 2vmax auto;
    width: 80vw;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
}

.productCard {
    width: 14vmax !important;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #0e0e0e;

    margin: 2vmax;
    transition: all 0.5s !important;
    padding: 0.5vmax;
    text-align: center;
    background-color: rgba(244, 244, 244, 1);

}

.productCard>img {
    width: 14vmax;
    margin-bottom: 10px;

}

.productCard>div {
    margin:  0 auto;
    display: flex;
    justify-content: flex-start;
}

.productCard>div>span {
    margin: 0.5vmax;
    font: 300 0.7vmax "Roboto";
}

.productCard>p {
    font-size: 1.2vmax;
    margin: 1vmax 0.5vmax;
    margin-bottom: 0;
    font-weight: 700;
}

.prod-desc {
    font-size: 0.9vmax !important;
}

.productCard>span {
    /* margin: 0.5vmax; */
    color: tomato;
    font-size: 1vmax;
}

.productCard:hover {
    box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);
    transform: translateY(-1vmax);
}


@media screen and (max-width:600px) {
    .productCard>p {
        font-size: 1.7vmax !important;
        font-weight: 700;
    }

    .prod-desc {
        font-size: 10px !important;

    }

    .productCard>div {
        /* margin: 0 !important; */
        display: block !important;
    }

    .productCard>span {
        font-size: 1.5vmax;
        margin-top: 0px;
        color: rgba(96, 159, 0, 1);
        font-weight: 800 !important;

    }
   

    .productCard>div>span {
        margin: 0;
        font: 300 1vmax 'Roboto' !important;
        color: rgba(96, 159, 0, 1);

    }

    .productCard {
        width: 19vmax !important;

        border-radius: 10px;
        padding: 0;

    }
    .productCard button{
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border: none;
        margin-top: 3px;
        background-color: rgba(157, 159, 154, 1);
        color: #fff;
    }

    .productCard>img {
        width: 19vmax;
        margin-bottom: 0 !important;
    }

    .product-container {
        width: 100vw;
        display: flex;
        justify-content: center;
    }
}

.gallery {
    background: #000;
}

.gallery-cell1 {
    width: 66%;
    height: 200px;
    margin-right: 10px;
    background: url("../images/mobile-banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;


}

.gallery-cell2 {
    width: 66%;
    height: 200px;
    margin-right: 10px;
    background: url("../images/mobile-banner2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;


}

.gallery-cell3 {
    width: 66%;
    height: 200px;
    margin-right: 10px;
    background: url("../images/mobile-banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;


}

.gallery-cell4 {
    width: 66%;
    height: 200px;
    margin-right: 10px;
    background: url("../images/mobile-banner2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;


}

.gallery-cell5 {
    width: 66%;
    height: 200px;
    margin-right: 10px;
    background: url("../images/mobile-banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;


}

.gallery-cell6 {
    width: 66%;
    height: 200px;
    margin-right: 10px;
    background: url("../images/mobile-banner2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;


}